.ddev export-ignore
.github export-ignore
.phpcq export-ignore
.composer-require-checker export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.phpcq.lock export-ignore
.phpcq.yaml.dist export-ignore
phpcs.xml.dist export-ignore
psalm.xml export-ignore
