<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="ContaoToolkit">
    <rule ref="PSR12" />

    <rule ref="Generic.Files.LineLength">
        <exclude-pattern>src/Resources/contao/languages/*</exclude-pattern>
    </rule>
</ruleset>
